#decision_box{
    border: 1px solid black;
    padding: 10px;
    margin: 0 30% 0 30%;
    text-align: center;
    color: white;
}

.checklist_done{
    border: 1px solid black;
    color: white;
    background-color: green;
}
.card{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgb(124, 242, 247);
    width: 40%;
    display: inline-block;  
    text-align: center;
    border-radius: 10px;
    box-shadow: 9px 9px 8px grey;
}

.result-card{
    padding: 0;
    width: 25%;
    height: 150px;
}